@use '../../../styles/variables'

#hard-skills
	background-color: variables.$color-light-bg
	border-radius: 15px
	margin: 10px
	border: 1px solid variables.$border-color-grey

#skills-title
	display: flex
	justify-content: center
	font-family: variables.$primary-font
	font-size: variables.$title-size
	font-weight: variables.$title-weight
	color: variables.$color-blue
	padding: 20px

#skills-subtitle
	font-family: variables.$primary-font
	color: variables.$color-orange
	font-size: variables.$subtitle-size
	font-weight: variables.$subtitle-weight
	text-align: justify
	margin: 10px 0px 10px 20px

#about-skills
	font-family: variables.$primary-font
	padding: 20px

#disclaimer
	color: variables.$color-white
	font-size: variables.$text-size
	font-weight: variables.$text-weight
	text-align: justify

.modulos
	color: variables.$color-blue
	font-size: variables.$subtitle-size
	font-weight: variables.$subtitle-weight
	margin: 35px 0px 0px 5px

#fundamentos-text
	font-family: variables.$primary-font
	color: variables.$color-white
	font-weight: variables.$text-weight
	display: flex
	flex-direction: row
	margin: 5px 0px 0px 0px
	background-color: variables.$color-black-bg
	width: 100%
	padding: 5px
	border-radius: 10px

#text-git
	color: #F25234

#text-html
	color: #FC490B

#text-js
	color: #FFDF00

#text-jest
	color: #99415B

	
#front-end-text
	font-family: variables.$primary-font
	color: variables.$color-white
	font-weight: variables.$text-weight
	text-align: justify
	display: flex
	flex-direction: row
	margin: 5px 0px 0px 0px
	background-color: variables.$color-black-bg
	width: 100%
	padding: 5px
	border-radius: 10px




#text-react
	color: #61DBFB
	
#text-redux
	color: #764abc

#testing-library
	color: #fd4545


#back-end-text
	font-family: variables.$primary-font
	color: variables.$color-white
	font-weight: variables.$text-weight
	text-align: justify
	display: flex
	flex-direction: row
	margin: 5px 0px 0px 0px
	background-color: variables.$color-black-bg
	width: 100%
	padding: 5px
	border-radius: 10px

#text-docker
	color: #0db7ed

#text-mysql
	color: #00758f

#text-nodejs
	color: #6cc24a

#sequelize
	color: white
	background-color: rgba(32, 51, 97)
	border-radius: 5px

#projects
	color: variables.$color-orange
	font-size: variables.$subtitle-size
	font-weight: variables.$subtitle-weight
	margin: 35px 0px 0px 5px

#about-projects
	font-family: variables.$primary-font
	color: variables.$color-white
	font-weight: variables.$text-weight
	text-align: justify
	display: flex
	flex-direction: row
	margin: 5px 0px 0px 0px
	width: 100%
	padding: 5px
	border-radius: 10px

#projects-link
	font-family: variables.$primary-font
	color: variables.$color-blue
	font-size: variables.$text-size
	font-weight: variables.$text-weight
	margin: 5px 0px 0px 0px
	width: 100%
	padding: 5px
	border-radius: 10px

#skills-title-end
	display: flex
	font-family: variables.$primary-font
	font-size: variables.$title-size
	font-weight: variables.$title-weight
	color: variables.$color-blue
	padding: 20px