

// colors
$color-blue: #8971eb
$color-black-bg: #1B1A17
$color-light-bg: #1F1E1B
$color-orange: #FF8303
$color-white: #ffffffff
$primary-font: 'Inconsolata'
// Fonte Title	
$logo-size: 50px
$title-size: 35px
$title-weight: 900

// Fonte Subtitle	
$subtitle-size: 20px
$subtitle-weight: 700
// var final


// Fonte texto regular
$text-size: 16px
$text-weight: 550




// Fonte texto dos comentarios	
$comment-size: 14px
$comment-weight: 400


// Fonte para label pequenas, tipo datas etc.
$data-font: 'Roboto', monospace
$data-size: 12px
$data-weight: 400
// var final

$border-color-grey: rgba(105, 105, 105, 0.3)
