@use '../../styles/variables'

.header 
	padding-top: 20px
	padding-bottom: 20px
	display: flex
	justify-content: center
	align-items: center
	justify-content: space-around
	width: 100%
	background-color: variables.$color-black-bg


	

.logo
	font-size: variables.$logo-size
	font-family: variables.$primary-font
	font-weight: variables.$title-weight
	color: variables.$color-orange
	background-color: variables.$color-black-bg

.navbar
	font-family: variables.$primary-font
	font-size: variables.$subtitle-size	
	font-weight: variables.$subtitle-weight
	color: variables.$color-white


#homeHeader
	font-size: variables.$subtitle-size	
	color: variables.$color-blue

#aboutHeader
	color: variables.$color-orange


#navbar
	display: flex
	justify-content: space-around
	width: 50%
	background-color: variables.$color-black-bg




	