@use '../../../../styles/variables'
	
.lastVisitors
	border-radius: 15px
	display: flex
	flex-direction: column
	justify-content: space-around
	padding: 0px 10px 0px 10px
	height: 60%
	margin: 10px 0px 0px 0px 
	width: 95%


.full-comment
	display: grid
	border: 1px solid variables.$border-color-grey
	border-radius: 15px
	background-color: variables.$color-black-bg
	height: 18%
	grid-template-columns: 2fr 8fr
	grid-template-rows: 1fr
	grid-template-areas: "avtr cmt"

#avtr-box
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	grid-area: avtr

#div-avtr
	height: 60px
	width:60px
	border-radius: 50%

#avatar-picture
	width: 100%
	height: 100%
	border-radius: 50%

#p-box
	grid-area: p
	font-family: variables.$primary-font
	color: variables.$color-orange
	font-size: 10px
	font-weight: variables.$data-weight
	padding: 3px

	
	

#cmt-box
	grid-area: cmt
	border-radius: 10px

#nd-box
	display: flex
	justify-content: space-between


#n-box
	grid-area: n
	font-family: variables.$primary-font
	color: variables.$color-blue
	font-size: variables.$comment-size
	font-weight: variables.$data-weight
	border-radius: 8px
	margin: 5px 0px 0px 0px
	


#dt-box
	grid-area: n
	font-family: variables.$data-font
	color: grey
	font-size: 10px
	font-weight: variables.$data-weight
	border-radius: 8px
	padding: 2px
	margin: 5px 15px 0px 0px

#text-comment
	font-family: variables.$primary-font
	color: variables.$color-white
	font-size: variables.$data-size
	font-weight: variables.$data-weight
	margin: 5px 0px 0px 0px
	padding: 0px 0px 0px 0px
	height: 65%
	width: 97%




